@import "tailwindcss";
@import "tailwindcss";
@theme {
  --font-sfpro: "sfpro", sans-serif;

  /* Primary color palette */
  --color-primary: "#353839";
  --color-primary-50: "#f8f8f8";
  --color-primary-100: "#D7D7D7";
  --color-primary-200: "#BCBDBD";
  --color-primary-300: "#9A9B9C";
  --color-primary-400: "#787A7B";
  --color-primary-500: "#57595A";
  --color-primary-600: "#353839";
  --color-primary-700: "#2a2b2c";
  --color-primary-800: "#1f2021";
  --color-primary-900: "#141516";
  --color-primary-950: "#0a0a0b";
}
